<p id="_edit_title">Adicionar Produtos</p>
<div id="_edit_container">
  <row id="_form_row_name" class="_form_row">
    <span class="_form_label">Nome: </span>
    <input id="_form_row_name_input" class="_form_row_input">
  </row>
  <row id="_form_row_description" class="_form_row">
    <span class="_form_label">Descrição: </span>
    <input id="_form_row_description_input" class="_form_row_input">
  </row>
  <row id="_form_row_category" class="_form_row">
    <span class="_form_label">Display: </span>
    <input id="_form_row_display_input" class="_form_row_input">
  </row>
  <row id="_form_row_category" class="_form_row">
    <span class="_form_label">Categoria: </span>
    <input id="_form_row_category_input" class="_form_row_input">
  </row>
  <row id="_form_row_brand" class="_form_row">
    <span class="_form_label">Marca: </span>
    <input id="_form_row_brand_input" class="_form_row_input">
  </row>
  <row id="_form_row_image" class="_form_row">
    <span class="_form_label">Imagem: </span>
    <input id="_form_row_image_input" class="_form_row_input">
  </row>
  <row id="_form_row_price" class="_form_row">
    <span class="_form_label">Preço: </span>
    <input id="_form_row_price_input" class="_form_row_input">
  </row>
  <row id="_form_row_stock" class="_form_row">
    <span class="_form_label">Estoque: </span>
    <input id="_form_row_stock_input" class="_form_row_input">
  </row>
  <row class="_form_row">
    <span class="_form_label">Imagem 1: </span>
    <input id="_form_row_image1_input" class="_form_row_input">
  </row>
  <row class="_form_row">
    <span class="_form_label">Imagem 2: </span>
    <input id="_form_row_image2_input" class="_form_row_input">
  </row>
  <row class="_form_row">
    <span class="_form_label">Imagem 3: </span>
    <input id="_form_row_image3_input" class="_form_row_input">
  </row>
  <row class="_form_row">
    <span class="_form_label">Imagem 4: </span>
    <input id="_form_row_image4_input" class="_form_row_input">
  </row>
  <button id="_form_add_submit" onclick="addSubmit()">Enviar</button>
  <row class="_form_row">
    <div id="_form_add_status"></div>
    <span id="_form_add_warn"></span>
  </row>
</div>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="/Scripts/addProduct.js"></script>