header{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 100px;
}
img{
    width: 250px;
    height: 150px;
    
}
.titulo-principal{
    position: absolute;
    top: 8%;
    left: 20%;
    transform: translate(8%, -50%);
    font-size: 40px;
    color: white;
    font-weight: lighter;
    font-family: 'anton';
}
@font-face {
    font-family: 'anton';
    src: url('Anton-Regular.ttf') format('truetype');
}
main{
    width: 940px;
    margin: auto;
}
form{
    margin: 40px 0; /*margem superior e inferior de 40 px, para os lados zero*/
}
form label, form p{ /*vamos replicar a mesma configuração do form label para o parágrafo, por isso, o uso da vírgula*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /*10 pixels para baixo*/
}
.input-padrao{
    display: block;
    margin:  0 0 20px; /*20px para baixo*/
    padding: 10px 25px;/*10 px p cima e p baixo e 25px p os lados*/
    width: 50%;/*largura dos meus inputs*/
}
.logo1{
    width: 380px ;
    height: 150px;
    border-radius: 15px;
}
.checkbox{
    margin: 20px 0; /*20 p cima e p baixo e zer nas laterais*/
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: #929A8C;
    transform: scale(1.2);
}
.copyright{
    color: #FFFFFF;
    font-size: 16px;
    margin: 10px 0 0;
}
body{
    background-color: #AE9471;
}
nav{
    position: absolute;
    top: 120px;
    right: 30px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a:hover{
    color: #448CA0;
    text-decoration: underline;
}
main{
    width: 940px;
}
.complemento-titulo{
    position: absolute;
    top: 12%;
    left: 25%;
    transform: translate(8%, -50%);
    font-size: 25px;
    color: white;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}